@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
body {
	font: 12px/1.8 'Microsoft YaHei', Tahoma, Verdana, 'Simsun';
	background: #f5f5f5 url(../images/N_main_bg.jpg) no-repeat center top;
	width: 100%;
	color: #333;
	min-width: 1000px;
	outline: none;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}
ul li {
	list-style: none;
}
#header {
	background: url(../images/top_bg.jpg) no-repeat;
	overflow: hidden;
	zoom: 1;
}
#header #top {
	width: 1000px;
	margin: 0 auto;
	height: 90px;
}
#header #top .logo {
	width: 250px;
	float: left;
	margin-top: 20px;
}
#header #top .topnav {
	float: right;
	text-align: right;
	margin-top: 20px;
}
#header #top .topnav ul li.hy {
	color: #ba8748;
	font-size: 14px;
}
#header #top .topnav ul li.sy {
	font-family: '宋体', Arial;
	margin-top: 10px;
}
#header #top .topnav ul li.sy a {
	color: #6d6c6c;
}
#header #top .topnav ul li.sy a:hover {
	color: #333;
}
#header #nav {
	clear: both;
	background: url(../images/nav.jpg) repeat-x;
	height: 36px;
	margin: 0 auto;
	overflow: hidden;
}
.jMenu {
	display: table;
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0 auto;
	font-size: 14px;
}
.jMenu li {
	margin: 0;
	list-style: none;
	text-align: center;
	color: red;
	float: left;
	display: block;
	width: 124px;
	height: 40px;
	line-height: 36px;
	font-weight: bold;
}
.jMenu li a {
	display: block;
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
	color: #FFF;
}
.jMenu li a:hover {
	background-color: #034486
}
.jMenu li:hover>a {
	background-color: #034486
}
.jMenu li ul {
	display: none;
	position: absolute;
	z-index: 9999;
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
	font-size: 12px;
}
.jMenu li ul li {
	background-color: #014d9b;
	display: block;
	border-bottom: 1px solid #484548;
	padding: 0;
	list-style: none;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.jMenu li ul li a {
	font-size: 11px;
	text-transform: none;
	display: block;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent
}
.jMenu li ul li a.isParent {
	background-color: #3a3a3a
}
.jMenu li ul li a:hover {
	background-color: #034486;
	border-top: 1px solid #322f32;
	border-bottom: 1px solid #322f32
}
#slide {
	clear: both;
	width: 100%;
	margin: 0 auto;
}
#owl-demo {
	clear: both;
	z-index: 999999;
	overflow: hidden;
}
#content {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #eeeded url(../images/main_bg.jpg) repeat-x;
	z-index: 9999999;
	overflow: hidden;
	height: auto;
}
#content #news {
	clear: both;
	width: 100%;
	margin: 0 auto;
	height: 37px;
}
#content #news .news {
	width: 1000px;
	margin: 0 auto;
	clear: both;
	height: 37px;
}
#content #news .news h3 {
	background: url(../images/news.jpg) no-repeat 0 7px;
	height: 40px;
	width: 75px;
	line-height: 40px;
	overflow: hidden;
	float: left;
}
#content #news .news h3 span {
	color: #fff;
	padding: 0px 5px;
	overflow: hidden;
	line-height: 38px;
	zoom: 1;
	font-size: 12px;
}
#content #news .news .marquee {
	float: left;
	width: 400px;
	margin-top: 7px;
}
marquee {
	width: 250px;
	height: 24px;
	line-height: 24px;
}
marquee ul li {
	text-align: left;
	font-size: 12px;
	height: 35px;
	line-height: 35px;
}
marquee ul li a {
	color: #333;
}
#content #news .form {
	float: right;
	width: 205px;
	margin-top: 7px;
}
#content #news .form .text {
	border: 1px solid #ddd;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 1px;
	overflow: hidden;
	width: 175px;
	float: left;
	outline: none;
}
#content #news .form .searchimage {
	border: none;
	float: left;
	height: 23px;
	width: 25px;
	background: none;
}
#content #main {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(../images/body-bg.jpg) repeat-x 0 top;
	padding-bottom: 30px;
	zoom: 1
}
#content #main .main {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
#content #main a {
	background: url(../images/pic-bg.jpg) repeat-x 0 0;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 20px 20px 0 0;
	padding: 0;
	width: 311px;
}
#content #main a span {
	float: right;
	overflow: hidden;
	padding: 12px 16px 0 0;
	width: 185px;
}
#content #main a span h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#content #main a span h4.xj {
	color: #3686ab;
}
#content #main a span h4.zs {
	color: #f4af74;
}
#content #main a span h4.zxn {
	color: #629c39;
}
#content #main a span h4.fw {
	color: #f4af74
}
#content #main a span h4.xw {
	color: #3686ab;
}
#content #main a span h4.qy {
	color: #f4af74;
}
#content #main a img {
	float: left;
	min-height: 126px;
	padding-left: 4px;
	padding-top: 6px;
	width: 100px;
}
#content #main a p {
	color: #888;
	font-size: 12px;
	line-height: 20px;
	width: 179px;
}
#content #main .main2 {
	width: 1000px;
	clear: both;
	margin: 0 auto;
}
#content #friendlink {
	clear: both;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 20px 10px;
	word-wrap: break-word;
}
#content #friendlink .friendlink {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}
#content #friendlink .friendlink h3 {
	color: #555;
	display: inline;
	float: left;
	min-width: 57px;
	white-space: nowrap;
	margin-right: 10px;
}
#content #friendlink .friendlink .friendlink2 {
	width: 900px;
}
#content #friendlink .friendlink .friendlink2 ul li {
	display: inline;
	float: left;
	margin-right: 10px;
	line-height: 30px;
	height: 30px;
}
#content #friendlink .friendlink .friendlink2 ul li a {
	white-space: nowrap;
	color: #4B4B4B;
}
#footer {
	clear: both;
	width: 100%;
	float: left;
	border-top: 1px solid #acabab;
	background: #484848;
	color: #dadada;
}
#footer .footer {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
}
#footer .footer p {
	text-align: center;
}
#footer .footer p a {
	color: #FFF;
}
